
.container-profile{
    background-color: whitesmoke;
    border-bottom: solid 1px gray;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
}

.img-profile-elements {
    padding: 15px;
}

.img-profile-elements input{
    display: none;
}

.img-profile-elements img{
    border-radius: 50%;
    cursor: pointer;

    width: 15vw;
    height: 22vh;
}

.profile-itens{
    font-size: 30px;

    width: 50vw;
    padding: 15px;
}

.profile-itens p{
    margin-bottom: 15px;
    margin-left: 15px;
}

.container-profile-seguidores-pub-seguindo{
    font-size: 15px;
    font-weight: 400;

    display: flex;
    align-items: flex-start;
}

.container-profile-seguidores-pub-seguindo p{
    margin-left: 20px;
}

.profile-description p{
    font-size: 15px;
    padding: 5px;
}

.container-photos{
    display: flex;
    justify-content: center;
}

.container-photos-elements{
    display: flex;
    flex-wrap: wrap;
    width: 73vw;
}

.elements-photos{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 20px;
    padding: 12px;
}

.elements-photos img{
    width: 21vw;
    height: 36vh;
    margin-top: 15px;
}

.elements-photos img:hover{
    cursor: pointer;
    filter: brightness(70%);
}

.container-upload {
    display: flex;

    height: 5vh;
    min-height: 5vh;
}

.container-upload button{

    margin-left: 16px;
}

.container-upload input{
    display: none;
}

#button_upload{
    padding: 10px;
}

#button_upload:hover{
    cursor: pointer;
    background-color: green;
    color: white;
    border: solid 1px black;

}

@media(max-width: 1366px){

    .img-profile-elements img{
        max-width: 12vw;
    }
}