
.container-profile{
    background-color: whitesmoke;
    border-bottom: solid 1px gray;

    display: flex;
    justify-content: center;

    padding: 30px;
}

.img-profile {
    padding: 15px;
}

.img-profile img{
    border-radius: 20%;
}

.profile-itens{
    font-size: 30px;

    padding: 15px;
    width: 50vw;
}

.profile-itens p{
    margin-bottom: 15px;
    margin-left: 15px;
}

.container-profile-seguidores-pub-seguindo{
    font-size: 15px;
    font-weight: 400;

    display: flex;
    align-items: flex-start;
}

.container-profile-seguidores-pub-seguindo p{
    margin-left: 20px;
}

.profile-description p{
    font-size: 15px;
    padding: 5px;
}

.container-photos{
    display: flex;
    justify-content: center;

}

.container-photos-elements{
    display: flex;
    flex-wrap: wrap;

    width: 70vw;
}


.elements-photos{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    padding: 10px;

}

.elements-photos img{
    width: 20vw;
    margin-top: 15px;
}

.elements-photos img:hover{
    cursor: pointer;
    filter: brightness(70%);
}