
.container-header{    
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid 1px gray;

    padding: 15px;
}

.container-header button{
    padding: 10px;
    width: 8vw;
    cursor: pointer;
}

#seacher-user{
    padding: 5px;
}

.search-users-suggestion{
    background-color: grey;
    position: absolute;
}

.search-users-suggestion li{
    list-style: none;
}

.search-users-suggestion li a{
    text-decoration: none;
}

.search-users-suggestion li p{
    color: black;
    font-size: 21px;
    padding: 5px;
}

.search-users-suggestion li p:hover{
    background-color: tomato;
}

.user-options-header button{
    margin-left: 15px;
}

.user-options-header button a{
    text-decoration: none;
}

.user-options-header button p{
    background-color: aqua;
    font-size: 15px;
}